@model WebAppMvcSample.Models.LoginModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("Click","Login")){
        <table>
            <tr>
                <td>
                    @Model.LableUserId
                </td>
                <td>
                    <input name="userId" type="text" value="@Model.UserId" />
                </td>
            </tr>
            <tr>
                <td>
                    @Model.LablePassword
                </td>
                <td>
                    @Html.PasswordFor(
                        model => model.Password, // プロパティ
                        new { size = 10, maxlength = 20 } // そのほかの属性
                    )
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="@Model.LableLoginButton" />
                </td>
            </tr>
        </table>
        <div>
        </div>
    }
</div>
